name: Code quality

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  biome:
    runs-on: ubuntu-latest
    env:
      SKIP_YARN_COREPACK_CHECK: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
      - run: corepack enable
      - run: yarn install --frozen-lockfile
      - uses: biomejs/setup-biome@v2
        with:
          version: latest
      - name: Run Biome
        run: yarn workspace @knide/pathnorm lint:biome

  tsc:
    runs-on: ubuntu-latest
    env:
      SKIP_YARN_COREPACK_CHECK: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
      - run: corepack enable
      - run: yarn install --frozen-lockfile
      - name: Run TypeScript type check
        run: yarn workspace @knide/pathnorm lint:tsc

  build:
    runs-on: ubuntu-latest
    env:
      SKIP_YARN_COREPACK_CHECK: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
      - run: corepack enable
      - run: yarn install --frozen-lockfile
      - name: Build package
        run: yarn build

  test:
    runs-on: ubuntu-latest
    env:
      SKIP_YARN_COREPACK_CHECK: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
      - run: corepack enable
      - run: yarn install --frozen-lockfile
      - name: Run tests
        run: yarn test
