name: Code Quality

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Enable Corepack
        run: corepack enable

      - name: Setting up Node LTS
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"

      - name: Installing dependenciesn
        run: yarn install --frozen-lockfile

      - name: Setup Biome
        uses: biomejs/setup-biome@v2.7.0
        with:
          version: latest

      - name: Run Biome
        working-directory: package
        run: biome ci .

      - name: Run Package Lint
        working-directory: package
        run: yarn lint

      - name: Run Package Build
        working-directory: package
        run: yarn build
